*{
    margin: 0px;
    padding: 0px;
}
.parent{
    width: 100vw;
}
.first{
   background-color: black;
   color: white;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 100px;
    /* background-color: aqua; */
   
}
.navbar{
    padding: 50px 100px;
    box-sizing: border-box;
    width: 100vw;
    height: 10vh;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
}
.ul1{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
.li1{
    list-style: none;
}
a{   
    color: white;
    text-decoration: none;
 
}
#btn1{
    padding: 10px 40px;
    background-color: #0895fb;
    color: white;
    border-style: none;
   
}

#h1_1{
    margin-top: 50px;
    margin-bottom: 100px;
    font-weight: 900;
    font-size: 60px;
    /* width: 50vw; */
    text-align: center;
    display: flex;
    justify-content: center;
}
#bg-img{
display: flex;
justify-content: center;
border-radius: 20px;
}
#todo{
    border:10px solid #f092e3d2;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px #0895fb;
    box-shadow: -2px 23px 171px 112px #56366e;
    filter: grayscale(100%);
}
#todo:hover{
    transform: scale(1.1,1.2);
    transition: all 3s;
    filter: grayscale(0%);
}
