*{
    margin: 0px;
    padding: 0px;
}
.page1{
    width: 1440px;
height: 825px;
gap: 40px;
opacity: 0px;
/* background-color: aqua; */
position: relative;
box-sizing: border-box;

}
.navbar{
    width: 1322px;
height: 91px;
position: absolute;
top: 1px;
left: 59px;
background-color: black;
gap: 0px;
opacity: 0px;

}
.logo{
    width: 187px;
height: 58px;
top: 17px;
left: 136px;
padding: 13px 46px 13px 0px;
gap: 10px;
opacity: 0px;

}
#overlap{
    width: 604.15px;
height: 700px;
position: absolute;
background-color: #EFF8ED;
left: 835.85px;
gap: 0px;
opacity: 0px;

}